{% extends 'product/base_product.html' %}
{% block title %} {{product.name}}{% endblock %}

{% block content %}
<div class="card mb-3 mt-4" style="max-width: 80%; margin-left: auto; margin-right: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="product image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{product.name}}</h3>
          <h6 class="card-text" style="color: grey;">{{product.description}}</h6>
          <h4 class="card-text">{{product.price}}</h4>
          <h5 class="card-text" style="color: grey;">{{product.status}}</h5>
        </div>
      </div>
    </div>
    <button class="btn btn-primary mt-4">Купить</button>
  </div>
{% endblock %}