{% extends 'product/base_product.html' %}
{% block title %}
Product
{% endblock %}

{% block content %}
<div class="container">
  <div style="display: flex;">
    <div style="width: 20%; margin-right: 5%;">
      <ul class="list-group list-group-flush mt-4">
        {% for category in categories %}
        <a href="#"><li class="list-group-item">{{category}}</li></a>
        {% endfor %}
      </ul>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
      {% for product in products %}
        <div class="col">
          <a href="{{product.get_absolute_url}}" style="text-decoration: none; color: rgb(57, 56, 56);">
            <div class="card" style="height: 450px;">
              <img src="{{product.image.url}}" class="card-img-top mt-2" alt="product image">
              <div class="card-body">
                <h5 class="card-text">{{product.price}}</h5>
                <h3 class="card-title">{{product.name}}</h3>
                <h6 class="card-text">{{product.status }}</h6>
                <p class="card-text" style="color: gray;">{{product.description | truncatewords:7 }}</p> 
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}