{% extends 'product/base_product.html' %}
{% block title %}
Product
{% endblock %}

{% block content %}
<h3>Categories</h3>
<div id="sidebar">
   <ul class="selected">
       <a href="{% url 'product-list-url' %}">
           <button type="button" class="btn btn-primary" style="margin-bottom: 10px;">All</button>
       </a>
       {% for category in categories %}


            <a href="{{ category.get_absolute_url }}" class="selected">
                <button type="button" class="btn btn-outline-primary" style="margin-bottom: 5px;">{{ category.name }}</button>
            </a>

      {% endfor %}
   </ul>
</div>

<div style="display: flex; flex-wrap: wrap; align-content: center; justify-content: space-between; width: 80vw;">
{% for product in products %}
    <div class="card" style="width: 18rem; margin-bottom: 30px;">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{product.name}}</h3>
          <h4 class="card-text">{{product.price}} $</h4>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
