{% extends 'shop/base.html' %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    <h1>Your cart</h1>
        <table class="cart">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Update</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}
                                               {{ product.image.url }}
                                           {% else %}
                                                {% static 'img/default-image.png' %}
                                           {% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'shop:cart-add-url' %}" method="post">
                                {{ item.quantity }}
                                {{ item.update }}
                                <input type="submit" value="Update">
                                {% csrf_token %}
                            </form>
                        </td>
                            <td><a href="{% url 'shop:cart-remove-url' product.slug %}"></a>Remove</td>
                        <td>{{ item.quantity }}</td>
                        <td class="num">{{ item.price }} $</td>
                        <td class="num">{{ item.total_price }} $</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">{{ cart.get_total_price }} $</td>
            </tr>
            </tbody>
        </table>
    <p class="text-right">
        <a href="{% url 'shop:detail-product-url' %}" class="button light">Continue</a>
        <a href="#">Checkout</a>
    </p>
{% endblock %}
