{% extends 'shop/shop.html' %}
{% load static %}
{% block title %}{{product.name}}{% endblock %}

{% block content %}

<article class="post_content">
  <nav class="woocommerce-breadcrumb">
    <a href="{% url 'shop:index-url' %}">Shop</a>&nbsp;&#47;&nbsp;
    <span>{{product.name}}</span>
  </nav>
  <div class="product">
    <div class="images">
      <a href="{{product.image.url}}" class="woocommerce-main-image zoom" title="">
        <img src="{{product.image.url}}" class="attachment-shop_single" alt="apetito1" title="apetito1" />
      </a>
    </div>

    <div class="summary entry-summary">
      <h1 class="product_title entry-title">{{product.name}}</h1>
      <div>
        <p class="price">
          <ins>
          <span class="amount">{{product.price}} сом</span>
          </ins>
        </p>
      </div>
        {% if request.user.is_authenticated %}
      <a href="{% url 'shop:update-product-url' product.id %}" class="single_add_to_cart_button button alt">Update</a>
      <a href="{% url 'shop:delete-product-url' product.id %}" class="single_add_to_cart_button button alt">Delete</a>

      <form action="{% url 'cart:cart-add' product.id %}" class="cart" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="quantity">
          <input type="number" step="1" min="1"  name="quantity" value="1" title="Qty" class="input-text qty text" size="4" />
        </div>
        <input type="hidden" name="add-to-cart" value="4015" />
        <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
      </form>
        {% endif %}
      <div class="product_meta">
        <span class="posted_in">
          Categories: 
          <a href="{{product.category.get_absolute_url}}" rel="tag">{{product.category}}</a>, 
        </span>
        <span class="product_id">Product ID:
          <span>{{product.id}}</span>
        </span>
      </div>
    </div>


    <div class="woocommerce-tabs wc-tabs-wrapper sc_tabs">
      <ul class="tabs wc-tabs sc_tabs_titles">
        <li class="tab_names description_tab">
          <a href="#tab-description">Description</a>
        </li>
        <li class="tab_names reviews_tab">
          <a href="#tab-reviews">Reviews ({{product.comments.all|length}})</a>
        </li>
      </ul>
      <div class="panel entry-content wc-tab" id="tab-description">
        <h2>Product Description</h2>
        <p>{{product.description}}</p>
        <hr>
      </div>
      <div class="panel entry-content wc-tab" id="tab-reviews">
        <div id="reviews">
          <div id="comments">
            <h2>Reviews</h2>
            {% if product.comments %}
            {% for comment in product.comments.all %}
            <div class="card" style="margin-bottom: 40px;">
              <h5 class="card-header">User</h5>
              <div class="card-body">
                <p class="card-text">{{comment.title}}</p>
                  {% if request.user.is_authenticated %}
                  <a href="{% url 'shop:update-comment-url' comment.id %}" class="btn btn-primary">Edit</a>
                  <a href="{% url 'shop:delete-comment-url' comment.id %}" class="btn btn-primary">Delete</a>
                  {% endif %}
              </div>
              <h6 class="card-header" style="color: grey;">{{comment.created_at}}</h6>
          
            </div>
            {% endfor %}
            {% else %}
              <p>There are no reviews yet.</p>
            {% endif %}


          </div>
            {% if request.user.is_authenticated %}
          <div id="review_form_wrapper">
            <div id="review_form">
              <div id="respond" class="comment-respond">
                <form action="{{product.get_absolute_url}}" method="post" id="commentform" class="comment-form">
                    {% csrf_token %}
                    <label for="comment">Your Review</label>
                    <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                  </p>
                  <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="Submit" />
                  </p>
                </form>
              </div>
            </div>
          </div>
            {% endif %}
        </div>
      </div>
    </div>

  </div>

</article>


{% endblock %}
{% block category %}
    <div id="sidebar_main" class="widget_area sideBar">
        <aside class="widget-first widgetWrap widget_categories">
            <h4 class="title">Categories</h4>
            {% if categories %}

            <ul>
                <li class="">
                    <a href="{% url 'shop:index-url' %}" title="2011 - 2016">All</a>
                </li>
                {% for cat in categories %}
                <li class="">
                    <a href="{{cat.get_absolute_url}}" title="2011 - 2016">{{cat.name}}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No categories</p>
            {% endif %}
        </aside>

{% endblock %}