{% extends 'shop/shop.html' %}
{% load static %}
{% block title %} Shop {% endblock %}

{% block search %}
    <form class="d-flex">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="button add_to_cart_button product_type_simple" style="margin-top: 10px;" type="submit">Search</button>
        <a style="float:right; margin-top: 10px;" href="{% url 'shop:index-url' %}?-price=sort" class="button add_to_cart_button product_type_simple">Expensive</a>
        <a style="float:right; margin-right: 15px; margin-top: 10px;	" href="{% url 'shop:index-url' %}?price=sort" class="button add_to_cart_button product_type_simple">Low</a>
    </form>
    <hr>

{% endblock %}

{% block content %}
    <ul class="products">
        {% if products %}
        {% for product in products %}
        <li class="product">
            <a href="{{product.get_absolute_url}}">
                <div style="height: 250px;">
                    <img src="{{product.image.url}}" style="object-fit:contain;" class="attachment-shop_catalog" alt="{{product.name}}" />
                </div>
                <h3>{{product.name}}</h3>
                <span class="price">
                    <ins>
                        <span class="amount">{{product.price}} сом</span>
                    </ins>
                </span>
            </a>
        </li>
        {% endfor %}
        {% else %}
        <h4>No results</h4>
        {% endif %}
    </ul>
{% endblock %}
{% block category %}
    <div id="sidebar_main" class="widget_area sideBar">
        <aside class="widget-first widgetWrap widget_categories">
            <h4 class="title">Categories</h4>
            {% if categories %}

            <ul>
                <li class="">
                    <a href="{% url 'shop:index-url' %}" title="2011 - 2016">All</a>
                </li>
                {% for cat in categories %}
                <li class="">
                    <a href="{{cat.get_absolute_url}}" title="2011 - 2016">{{cat.name}}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No categories</p>
            {% endif %}
        </aside>
</div>

{% endblock %}