{% extends 'shop/shop.html' %}
{% load static %}
{% block title %} Shop {% endblock %}

{% block content %}
    <ul class="products">
        {% if products %}
        {% for product in products %}
        <li class="product">
            <a href="{{product.get_absolute_url}}">
                <div style="height: 250px;">
                    <img src="{{product.image.url}}" style="object-fit:contain;" class="attachment-shop_catalog" alt="{{product.name}}" />
                </div>
                <h3>{{product.name}}</h3>
                <span class="price">
                    <ins>
                        <span class="amount">{{product.price}} сом</span>
                    </ins>
                </span>
            </a>
            <a href="#" class="button add_to_cart_button product_type_simple">Add to cart</a>
        </li>
        {% endfor %}
        {% else %}
        <h4>NO</h4>
        {% endif %}
    </ul>
{% endblock %}