{% extends 'shop/base.html' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <div class="card mb-3" style="width: 600px; height: 300px; margin-left: auto; margin-right: auto; margin-top: 100px;">
    <a href="{% url 'shop:index-url' %}" style="margin-left: auto;">
    <button type="button" class="btn-close" aria-label="Close"></button>
    </a>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">{{ user.email }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
